[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/loystonpais/KernelSU-Next
	branch = v3.1.0-susfs-v2.1.0
[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/loystonpais/AnyKernel3
	branch = lord-old-ak
[submodule "Rtw88"]
	path = Rtw88
	url = https://github.com/loystonpais/rtw88
