CONFIG_LOCALVERSION="-lord"


# WIP
CONFIG_LOCALVERSION_AUTO=n
CONFIG_UAPI_HEADER_TEST=y
CONFIG_BTFM_SLIM=y
CONFIG_MEMCG=y
CONFIG_CPUSETS=y
CONFIG_EDAC_QCOM=y
CONFIG_HID_AKSYS_QRD=y # -> m
CONFIG_I2C_RTC6226_QCA=y # -> m
CONFIG_MSM_BT_POWER=y # -> m
CONFIG_MSM_RDBG=y # -> m
CONFIG_QCOM_LLCC_PERFMON=y # -> m
CONFIG_SLIMBUS=y # -> m
CONFIG_SLIMBUS_MSM_NGD=y # -> m
CONFIG_USB_G_WEBCAM=y # -> m
CONFIG_IR_SPI=y # -> m



# Make necessary hardware drivers built-in
# Needed for twrp to access touch, vibration, brightness..
CONFIG_MI_HARDWARE_ID=y
CONFIG_LEDS_QTI_FLASH=y
CONFIG_QTI_BATTERY_CHARGER=y
CONFIG_MI_THERMAL_INTERFACE=y
CONFIG_TOUCHSCREEN_ST_FTS_V521_SPI=y
CONFIG_TOUCHSCREEN_XIAOMI_TOUCHFEATURE=y




# KernelSU with SUSFS
CONFIG_KSU=y
# CONFIG_KSU_KPROBES_HOOK is not set
# CONFIG_KSU_DEBUG is not set
# CONFIG_KSU_ALLOWLIST_WORKAROUND is not set
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_HAS_MAGIC_MOUNT=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_SUS_KSU_DEFAULT_MOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_SUS_BIND_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_SUS_OVERLAYFS=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_AUTO_ADD_TRY_UMOUNT_FOR_BIND_MOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_INODE64=y
# sus su needs to be disabled for ksu
CONFIG_KSU_SUSFS_SUS_SU=n
# KProbes should be disabled since we are using manual hooks (see previous commits)
CONFIG_KPROBES=n
CONFIG_HAVE_KPROBES=n


